.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $colorBackgroundBlue;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.taskbar {
  display: flex;
  align-items: center;
  background: $colorTaskBar;
  width: 100vw;
  height: 50px;
  position: absolute;
  bottom: 0;

  .start__btn {
    cursor: pointer;
    padding: 2px 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    border-left: 3px solid $colorLightGray;
    border-top: 3px solid $colorLightGray;
    border-right: 3px solid $colorDarkGray;
    border-bottom: 3px solid $colorDarkGray;
    span {
      font-weight: bold;
      letter-spacing: -2px;
    }
    &.clicked {
      border-left: 3px solid $colorDarkGray;
      border-top: 3px solid $colorDarkGray;
      border-right: 4px solid $colorLightGray;
      border-bottom: 4px solid $colorLightGray;
      background-color: #e5e5e5;
    }
  }
  .taskbar__popup {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    font-size: 0.8rem;
    gap: 3px;
    padding: 2px 5px;
    align-items: center;
    border-left: 3px solid $colorDarkGray;
    border-top: 3px solid $colorDarkGray;
    border-right: 4px solid $colorLightGray;
    border-bottom: 4px solid $colorLightGray;
    max-width: 280px;
    background-color: #e5e5e5;
    &.minimized {
      background-color: $colorTaskBar;
      border-left: 3px solid $colorLightGray;
      border-top: 3px solid $colorLightGray;
      border-right: 3px solid $colorDarkGray;
      border-bottom: 3px solid $colorDarkGray;
    }
  }
  .system__tray {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    margin-right: 10px;
    border-left: 2px solid $colorDarkGray;
    border-top: 2px solid $colorDarkGray;
    border-right: 2px solid $colorLightGray;
    border-bottom: 2px solid $colorLightGray;
    .time {
      margin-left: 10px;
    }
  }
}

.shortcut__container {
  .shortcut {
    max-width: 150px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    cursor: pointer;

    img {
      width: 64px;
      height: 64px;
    }
    .shortcut__title {
      color: white;
      font-size: 0.9rem;
    }
  }
}
