@media screen and (max-width: 1000px) {
  body {
    font-size: 0.7rem;
  }
  .taskbar {
    img {
      transform: scale((0.8));
    }
  }
  .popup {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;

    .popup__main__section__container {
      display: flex;
      align-items: center;
      justify-content: center;
      .popup__main_section {
        flex-direction: column;
        align-items: center;
        height: 80vh;
        margin-top: 100px;
        .popup__main__image {
          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }

  .shortcut {
    img {
      width: 32px;
      height: 32px;
    }
  }

  .start__menu {
    width: 60vw;
    height: 60vh;
  }
}

.hidden {
  display: none;
}
