@media screen and (max-width: 1000px) {
  .taskbar {
    font-size: 00.7rem;
    img {
      transform: scale((0.8));
    }
  }
  .popup {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;

    .popup__main__section__container {
      display: flex;
      align-items: center;
      justify-content: center;
      .popup__main_section {
        flex-direction: column;
        align-items: center;
        height: 80vh;
        margin-top: 100px;
        .popup__main__image {
          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }

  .shortcut__container {
    .shortcut {
      font-size: 0.7rem;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .start__menu {
    width: 60vw;
    height: 60vh;
    font-size: 0.7rem;
  }
  .skills__popup {
    height: 50vh;
    .popup__main__section__container {
      justify-content: flex-start;
      .popup__main_section {
        margin-top: 10px;
        .popup__main__text {
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .email__popup {
    font-size: 0.8rem;
    form {
      .email__inputs {
        input,
        h2,
        p,
        div {
          padding: 5px 5px;
        }
        input {
          width: 70%;
        }
      }
    }
  }

  .clippy__container {
    display: flex;
    position: absolute;
    right: 50px;
    bottom: 100px;
    .box {
      width: 200px;
      font-size: 0.7rem;
    }
    img {
      position: absolute;
      right: -190px;
      bottom: -170px;
      transform: scale(0);
      animation: 1s spin-in-media 0s linear forwards,
        1s spin-out-media 5s linear forwards;
    }
  }
}

@keyframes spin-in-media {
  0% {
    transform: rotate(0deg) scale(0);
  }

  100% {
    transform: rotate(720deg) scale(0.2);
  }
}
@keyframes spin-out-media {
  0% {
    transform: rotate(720deg) scale(0.2);
  }

  100% {
    transform: rotate(0deg) scale(0);
  }
}

.hidden {
  display: none;
}
