@media screen and (max-width: 1000px) {
  .taskbar {
    font-size: 00.7rem;
    img {
      transform: scale((0.8));
    }
  }
  .popup {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;

    .popup__main__section__container {
      display: flex;
      align-items: center;
      justify-content: center;
      .popup__main_section {
        flex-direction: column;
        align-items: center;
        height: 80vh;
        margin-top: 100px;
        .popup__main__image {
          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }

  .shortcut__container {
    .shortcut {
      font-size: 0.7rem;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .start__menu {
    width: 60vw;
    height: 60vh;
  }
  .skills__popup {
    height: 50vh;
    .popup__main__section__container {
      justify-content: flex-start;
      .popup__main_section {
        margin-top: 10px;
      }
    }
  }
}

.hidden {
  display: none;
}
