.popup {
  position: absolute;
  left: 1%;
  top: 10%;
  max-width: 1000px;

  .basic__window_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $colorBlue;
    height: 30px;
    .basic__window__top__left {
      cursor: default;
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 5px;
      gap: 10px;
      color: $colorLightGray;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .basic__window__top__right {
      display: flex;
      align-items: center;

      .popup__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 28px;
        margin: 5px 1px;
        background-color: $colorLightGray;
      }

      .minimize__box {
        width: 60%;
        height: 90%;
        border-bottom: 3px solid black;
      }
    }
  }
  .basic__window__middle {
    background-color: $colorLightGray;
    height: 26px;
    span {
      display: inline-block;
      margin: 0px 5px;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: 500;

      &::first-letter {
        text-decoration: underline;
      }
    }
  }

  .popup__main__section__container {
    display: flex;
    align-items: center;
    //height: 600px;
    overflow-y: scroll;
  }

  .popup__main_section {
    display: flex;
    align-items: center;
    margin: 20px 0;
    .popup__main__text {
      color: #ffff;
      margin: 0 20px;
      max-width: 600px;

      font-size: 0.7rem;
      font-family: $fontRoboto;
      h1 {
        text-align: center;
        margin: 20px 0px;
      }
      p {
        letter-spacing: 1.5px;
        margin: 3px 2px;
      }
      a {
        color: white;
      }
    }
    .popup__main__image {
      max-width: 700px;
      padding: 20px;
      img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
      }
    }
  }

  .basic__window__bottom__container {
    height: 30px;
    display: flex;
    gap: 2px;
    background-color: $colorTaskBar;

    .basic__window__bottom_left {
      padding-right: 10px;
      display: flex;
    }
    .basic__window__bottom_rest {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }
    .basic__window__bottom_left,
    .basic__window__bottom_rest {
      align-items: center;
      padding-left: 4px;
      img {
        height: 100%;
      }
    }
  }
}

//Specific popup settings

.help__popup {
  background: linear-gradient($colorBlue, #4b58df);
}

.skills__popup {
  width: 600px;
  min-height: 400px;
  overflow: hidden;
  background-color: black;

  .popup__main__section__container {
    overflow-y: visible;
    .popup__main_section {
      margin-left: 0;
    }
    .popup__main__text {
      margin: 0 5px;
      p {
        color: $colorLightGray;
        font-family: $fontDos;
        font-size: 1.1rem;
      }
      .skills__cd {
        margin-top: 20px;
      }
      .skills__list {
        margin: 20px 0;
        display: flex;
        justify-content: space-around;
        p {
          color: yellow;
        }
      }
    }
  }
}

.email__popup {
  min-height: 80vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    .email__inputs {
      background-color: #ffff;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      input,
      h2,
      p,
      div {
        padding: 10px 10px;
        border-bottom: 1px solid black;
      }
      p span {
        background-color: #9fa6f1;
        border-radius: 5px;
        padding: 5px 5px;
      }

      input {
        border: none;
        width: 80%;
        font-size: 1rem;
      }
      #message {
        padding: 10px 10px;
        background-color: $colorLightGray;
        font-size: 1.1rem;
        flex: 1 1 auto;
      }
    }

    .email__button__container {
      padding: 5px 0px;
      background-color: $colorLightGray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      #status {
        margin: 0 10px;
        padding: 5px 5px;
        &.success {
          background-color: rgb(82, 204, 82);
          animation: status 3s ease forwards;
        }
        &.error {
          background-color: red;
          color: #ffff;
          animation: status 3s ease forwards;
        }
      }

      @keyframes status {
        0% {
          opacity: 1;
          pointer-events: all;
        }
        90% {
          opacity: 1;
          pointer-events: all;
        }
        100% {
          opacity: 0;
          pointer-events: none;
        }
      }

      #form__submit {
        cursor: pointer;
        background-color: $colorLightGray;
        margin-left: 10px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        border-left: 3px solid #ffff;
        border-top: 3px solid #ffff;
        border-right: 3px solid $colorDarkGray;
        border-bottom: 3px solid $colorDarkGray;
        &:active {
          background-color: #ffff;
          border-left: 3px solid $colorDarkGray;
          border-top: 3px solid $colorDarkGray;
          border-right: 3px solid #ffff;
          border-bottom: 3px solid #ffff;
        }
      }
    }
  }
}
