.popup {
  position: absolute;
  top: 10%;
  max-width: 1000px;
  border-left: 4px solid $colorLightGray;
  border-top: 3px solid $colorLightGray;
  border-right: 4px solid $colorDarkGray;
  border-bottom: 3px solid $colorDarkGray;

  .basic__window_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $colorBlue;
    .basic__window__top__left {
      cursor: default;
      display: flex;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 5px;
      gap: 10px;
      color: $colorLightGray;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .basic__window__top__right {
      display: flex;
      align-items: center;

      .popup__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 30px;
        height: 28px;
        margin: 5px 1px;
        background-color: $colorLightGray;
        border-left: 3px solid $colorLightGray;
        border-top: 3px solid $colorLightGray;
        border-right: 3px solid $colorDarkGray;
        border-bottom: 3px solid $colorDarkGray;
      }

      .minimize__box {
        width: 60%;
        height: 90%;
        border-bottom: 3px solid black;
      }
    }
  }
  .basic__window__middle {
    background-color: $colorLightGray;
    height: 26px;
    span {
      display: inline-block;
      margin: 0px 5px;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: 500;

      &::first-letter {
        text-decoration: underline;
      }
    }
  }

  .popup__main__section__container {
    display: flex;
    align-items: center;
    //height: 600px;
    overflow-y: scroll;
    background: linear-gradient($colorBlue, #9198e5);
  }

  .popup__main_section {
    display: flex;
    align-items: center;
    .popup__main__text {
      color: #ffff;
      margin: 0 20px;
      max-width: 600px;

      font-size: 0.7rem;
      font-family: $fontRoboto;
      h1 {
        text-align: center;
        margin: 20px 0px;
      }
      p {
        letter-spacing: 1.5px;
        margin: 2px;
      }
      a {
        color: white;
      }
    }
    .popup__main__image {
      max-width: 700px;
      padding: 20px;
      img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
      }
    }
  }

  .basic__window__bottom__container {
    height: 30px;
    display: flex;
    gap: 2px;
    background-color: $colorTaskBar;

    .basic__window__bottom_left {
      padding-right: 10px;
    }
    .basic__window__bottom_rest {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }
    .basic__window__bottom_left,
    .basic__window__bottom_rest {
      padding-left: 4px;
      border-left: 2px solid $colorDarkGray;
      border-top: 2px solid $colorDarkGray;
      border-right: 2px solid $colorLightGray;
      border-bottom: 2px solid $colorLightGray;
    }
  }
}
