@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600&display=swap");
@font-face {
  font-family: "Windows Command Prompt";
  src: url("/src/font/windows_command_prompt/Windows-Command-Prompt.woff2") format("woff2"), url("/src/font/windows_command_prompt/Windows-Command-Prompt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-size: 1.2rem;
  font-family: "MS Sans Serif", sans-serif;
}

.container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #018282;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.taskbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bfbfbf;
  width: 100vw;
  height: 50px;
  position: absolute;
  bottom: 0;
}

.taskbar .start__btn {
  cursor: pointer;
  padding: 2px 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 3px solid #dfdfdf;
  border-top: 3px solid #dfdfdf;
  border-right: 3px solid #4b4b4b;
  border-bottom: 3px solid #4b4b4b;
}

.taskbar .start__btn span {
  font-weight: bold;
  letter-spacing: -2px;
}

.taskbar .start__btn.clicked {
  border-left: 3px solid #4b4b4b;
  border-top: 3px solid #4b4b4b;
  border-right: 4px solid #dfdfdf;
  border-bottom: 4px solid #dfdfdf;
  background-color: #e5e5e5;
}

.taskbar .taskbar__popup {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  gap: 3px;
  padding: 2px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 3px solid #4b4b4b;
  border-top: 3px solid #4b4b4b;
  border-right: 4px solid #dfdfdf;
  border-bottom: 4px solid #dfdfdf;
  max-width: 280px;
  background-color: #e5e5e5;
}

.taskbar .taskbar__popup.minimized {
  background-color: #bfbfbf;
  border-left: 3px solid #dfdfdf;
  border-top: 3px solid #dfdfdf;
  border-right: 3px solid #4b4b4b;
  border-bottom: 3px solid #4b4b4b;
}

.taskbar .system__tray {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 10px;
  margin-right: 10px;
  border-left: 2px solid #4b4b4b;
  border-top: 2px solid #4b4b4b;
  border-right: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
}

.taskbar .system__tray .time {
  margin-left: 10px;
}

.shortcut__container .shortcut {
  max-width: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
  cursor: pointer;
}

.shortcut__container .shortcut img {
  width: 64px;
  height: 64px;
}

.shortcut__container .shortcut .shortcut__title {
  color: white;
  font-size: 0.9rem;
}

.start__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  bottom: 48px;
  left: 4px;
  width: 300px;
  height: 400px;
  background-color: #bfbfbf;
  border-left: 3px solid #dfdfdf;
  border-top: 3px solid #dfdfdf;
  border-right: 3px solid #4b4b4b;
  border-bottom: 3px solid #4b4b4b;
}

.start__menu .left__text {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background-color: #4b4b4b;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 10px 0;
  font-size: 1.7rem;
  font-weight: 700;
  color: #bfbfbf;
}

.start__menu .left__text span {
  color: white;
  font-weight: 500;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.menu .shortcut {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
}

.menu .shortcut img {
  width: 32px;
  height: 32px;
}

.menu .shortcut .shortcut__title::first-letter {
  text-decoration: underline;
}

.menu .shortcut:hover {
  cursor: default;
  background-color: blue;
  color: white;
}

.menu__bottom {
  border-top: 2px solid #4b4b4b;
}

.menu__bottom:before {
  background: #dfdfdf;
  height: 2px;
  content: "";
  display: block;
}

.hidden {
  display: none;
}

.popup {
  position: absolute;
  left: 1%;
  top: 10%;
  max-width: 1000px;
  border-left: 4px solid #dfdfdf;
  border-top: 3px solid #dfdfdf;
  border-right: 4px solid #4b4b4b;
  border-bottom: 3px solid #4b4b4b;
}

.popup .basic__window_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0100aa;
  height: 30px;
}

.popup .basic__window_top .basic__window__top__left {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 5px;
  gap: 10px;
  color: #dfdfdf;
}

.popup .basic__window_top .basic__window__top__left img {
  width: 24px;
  height: 24px;
}

.popup .basic__window_top .basic__window__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .basic__window_top .basic__window__top__right .popup__button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 28px;
  margin: 5px 1px;
  background-color: #dfdfdf;
  border-left: 3px solid #dfdfdf;
  border-top: 3px solid #dfdfdf;
  border-right: 3px solid #4b4b4b;
  border-bottom: 3px solid #4b4b4b;
}

.popup .basic__window_top .basic__window__top__right .minimize__box {
  width: 60%;
  height: 90%;
  border-bottom: 3px solid black;
}

.popup .basic__window__middle {
  background-color: #dfdfdf;
  height: 26px;
}

.popup .basic__window__middle span {
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
}

.popup .basic__window__middle span::first-letter {
  text-decoration: underline;
}

.popup .popup__main__section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
}

.popup .popup__main_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.popup .popup__main_section .popup__main__text {
  color: #ffff;
  margin: 0 20px;
  max-width: 600px;
  font-size: 0.7rem;
  font-family: "Roboto Mono", monospace;
}

.popup .popup__main_section .popup__main__text h1 {
  text-align: center;
  margin: 20px 0px;
}

.popup .popup__main_section .popup__main__text p {
  letter-spacing: 1.5px;
  margin: 3px 2px;
}

.popup .popup__main_section .popup__main__text a {
  color: white;
}

.popup .popup__main_section .popup__main__image {
  max-width: 700px;
  padding: 20px;
}

.popup .popup__main_section .popup__main__image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.popup .basic__window__bottom__container {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  background-color: #bfbfbf;
}

.popup .basic__window__bottom__container .basic__window__bottom_left {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup .basic__window__bottom__container .basic__window__bottom_rest {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup .basic__window__bottom__container .basic__window__bottom_left,
.popup .basic__window__bottom__container .basic__window__bottom_rest {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4px;
  border-left: 2px solid #4b4b4b;
  border-top: 2px solid #4b4b4b;
  border-right: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
}

.popup .basic__window__bottom__container .basic__window__bottom_left img,
.popup .basic__window__bottom__container .basic__window__bottom_rest img {
  height: 100%;
}

.help__popup {
  background: -webkit-gradient(linear, left top, left bottom, from(#0100aa), to(#4b58df));
  background: linear-gradient(#0100aa, #4b58df);
}

.skills__popup {
  width: 600px;
  min-height: 400px;
  overflow: hidden;
  background-color: black;
  border-left: 4px solid #dfdfdf;
  border-top: 4px solid #dfdfdf;
  border-right: 4px solid #dfdfdf;
  border-bottom: 4px solid #dfdfdf;
}

.skills__popup .popup__main__section__container {
  overflow-y: visible;
}

.skills__popup .popup__main__section__container .popup__main_section {
  margin-left: 0;
}

.skills__popup .popup__main__section__container .popup__main__text {
  margin: 0 5px;
}

.skills__popup .popup__main__section__container .popup__main__text p {
  color: #dfdfdf;
  font-family: "windows command prompt", monospace;
  font-size: 1.1rem;
}

.skills__popup .popup__main__section__container .popup__main__text .skills__cd {
  margin-top: 20px;
}

.skills__popup .popup__main__section__container .popup__main__text .skills__list {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills__popup .popup__main__section__container .popup__main__text .skills__list p {
  color: yellow;
}

.being__dragged {
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  .taskbar {
    font-size: 00.7rem;
  }
  .taskbar img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .popup {
    width: 90vw;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup .popup__main__section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popup .popup__main__section__container .popup__main_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
    margin-top: 100px;
  }
  .popup .popup__main__section__container .popup__main_section .popup__main__image img {
    width: 200px;
    height: 200px;
  }
  .shortcut__container .shortcut {
    font-size: 0.7rem;
  }
  .shortcut__container .shortcut img {
    width: 32px;
    height: 32px;
  }
  .start__menu {
    width: 60vw;
    height: 60vh;
  }
  .skills__popup {
    height: 50vh;
  }
  .skills__popup .popup__main__section__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .skills__popup .popup__main__section__container .popup__main_section {
    margin-top: 10px;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */